# Ignore the Python virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore the environment file (THIS IS THE MOST IMPORTANT ONE)
.env
.env.*

# Ignore other common Python files/folders
.pytest_cache/
.tox/
.mypy_cache/
.hypothesis/
.idea/
.vscode/